@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);
:root {
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --navyblue: #2E2F42;
  --green: #31D0AA;
  --slate: #434455;
  --lightslate: #8E8F99;
  --cornflower: #E7E9FC;
  --cloud: #F4F4FD;
  --navyblue-modal: rgba(46, 47, 66, 0.40);
  --grey: #2E2F42;
  --white: #FFFFFF;
  --dairy: #FCFCFC;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  font-weight: inherit;
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  width: 24px;
  height: 24px;
  display: block;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding: 24px 0;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__burger-icon {
  width: 32px;
  height: 22px;
  fill: transparent;
  stroke: var(--navyblue);
}

.logo {
  color: var(--iris);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo__color {
  color: var(--navyblue);
}

.hero {
  background-color: var(--navyblue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 112px 0;
}
.hero__title {
  max-width: 320px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  margin: 0 auto 72px;
}
.hero__button {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--white, #FFF);
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
  margin: 0 auto;
}
.hero__button:is(:hover, :focus) {
  background-color: var(--ocean);
}

.features {
  padding: 96px 0;
}
.features__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}
.features__list-item {
  flex-basis: 100%;
}
.features__item-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.features__item-text {
  line-height: 1.5;
}

.team {
  background-color: var(--cloud);
  padding: 96px 0;
}
.team__list {
  max-width: 264px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 auto;
}
.team__list-item {
  flex-basis: 100%;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team__info {
  background-color: var(--white);
  padding: 32px 16px;
}
.team__item-photo {
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.info {
  margin-bottom: 8px;
}
.info__title {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.info__text {
  color: var(--slate);
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--transition);
}
.socials__link:is(:hover, :focus) {
  background-color: var(--ocean);
}
.socials__icon {
  width: 16px;
  height: 16px;
  fill: var(--cloud);
}

.customers {
  padding: 96px 0;
}
.customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
}
.customers__list-item {
  flex-basis: calc((100% - 16px) / 2);
}
.customers__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  fill: var(--lightslate);
  transition: border-color var(--transition), fill var(--transition);
  padding: 16px 0;
}
.customers__item-link:is(:hover, :focus) {
  border-color: var(--ocean);
  fill: var(--ocean);
}
.customers__item-icon {
  width: 110px;
  height: 56px;
}

.portfolio {
  padding: 48px 0;
}
.portfolio__filter {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 16px;
  width: 268px;
  margin-bottom: 48px;
}
.portfolio__filter-button {
  color: var(--iris);
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background-color: var(--cloud);
  padding: 8px 16px;
}
.portfolio__filter-button.current, .portfolio__filter-button:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--ocean);
}
.portfolio__filter-button:is(:hover, :focus) {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio__list-item {
  flex-basis: 100%;
  border: 1px solid var(--cloud);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio__list-item:is(:hover, :focus) .portfolio__item-text {
  transform: translateY(0);
}
.portfolio__list-item:is(:hover, :focus) {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio__item-block {
  position: relative;
  overflow: hidden;
}
.portfolio__item-img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--cloud);
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform var(--transition);
  padding: 40px 32px;
}
.portfolio .info {
  padding: 32px 16px;
  margin-bottom: 0;
}
.portfolio .info__title, .portfolio .info__text {
  text-align: left;
}

.footer {
  background-color: var(--navyblue);
  padding: 96px 0;
}
.footer__block {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer .logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer .logo__color {
  color: var(--white);
}
.footer__text {
  max-width: 268px;
  color: var(--cloud);
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
}
.footer__title {
  color: var(--white);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 16px;
}
.footer .socials__link:is(:hover, :focus) {
  background-color: var(--green);
}
.footer .socials__icon {
  width: 24px;
  height: 24px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__form-input {
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white);
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 0 16px;
}
.footer__form-input::-moz-placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer__form-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer__form-button {
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--iris);
  margin: 0 auto;
}
.footer__form-button:is(:hover, :focus) {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer__button-icon {
  fill: var(--white);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--navyblue-modal);
  transition: transform var(--transition);
}
.modal__overlay.is-hidden {
  transform: scaleY(0);
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  border-radius: 4px;
  background: var(--dairy);
  padding: 72px 16px 24px;
}
.modal__title {
  color: var(--navyblue);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 16px;
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.modal__item-label {
  display: inline-block;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal__item-block {
  position: relative;
}
.modal__item-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  outline: transparent;
  transition: border-color var(--transition);
  padding-left: 34px;
}
.modal__item-input:focus {
  border-color: var(--iris);
}
.modal__item-input:focus + .modal__item-icon {
  fill: var(--iris);
}
.modal__item-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  fill: var(--navyblue);
  transition: fill var(--transition);
}
.modal__item-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  resize: none;
  outline: transparent;
  transition: border-color var(--transition);
  padding: 8px 16px;
}
.modal__item-textarea::-moz-placeholder {
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  opacity: 0.5;
}
.modal__item-textarea::placeholder {
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  opacity: 0.5;
}
.modal__item-textarea:focus {
  border-color: var(--iris);
}
.modal__checkbox {
  margin-bottom: 24px;
}
.modal__checkbox-input:checked + .modal__checkbox-label .modal__checkbox-span {
  fill: var(--white);
  background-color: var(--ocean);
}
.modal__checkbox-label {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.modal__checkbox-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 2px;
  background-color: transparent;
  fill: transparent;
  transition: fill var(--transition), background-color var(--transition);
}
.modal__checkbox-icon {
  width: 10px;
  height: 8px;
}
.modal__checkbox-text {
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal__checkbox-link {
  color: var(--iris, #4D5AE5);
  text-decoration: underline;
}
.modal__button {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--white, #FFF);
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transition: transform var(--transition);
  padding: 80px 35px 40px 40px;
}
.mobile .close {
  background-color: transparent;
}
.mobile .socials {
  justify-content: flex-start;
  gap: 56px;
}
.mobile .socials__icon {
  width: 24px;
  height: 24px;
}
.mobile.is-open {
  transform: translateX(0);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu__link {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
}
.menu__link.current {
  color: var(--ocean);
}

.address {
  margin-bottom: 48px;
}
.address__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.address__list-link {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.address__phone {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--transition), background-color var(--transition);
}
.close:is(:hover, :focus) {
  fill: var(--white);
  background-color: var(--ocean);
}
.close__icon {
  width: 8px;
  height: 8px;
}