:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);
@import "reset";

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--slate);
    background-color: var(--white);
}

.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;

}

.header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    padding: 24px 0;

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__burger-icon {
        width: 32px;
        height: 22px;
        fill: transparent;
        stroke: var(--navyblue);
    }
}

.logo {
    color: var(--iris);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &__color {
        color: var(--navyblue);
    }
}

.hero {
    background-color: var(--navyblue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 112px 0;

    &__title {
        max-width: 320px;
        font-weight: 700;
        color: var(--white);
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        margin: 0 auto 72px; 
    }

    &__button {
        display: block;
        min-width: 169px;
        height: 56px;
        color: var(--white, #FFF);
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        border-radius: 4px;
        background: var(--iris);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color var(--transition);
        margin: 0 auto;

        &:is(:hover, :focus) {
            background-color: var(--ocean);
        }
    }
}

.features {
    padding: 96px 0;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 72px;
    }

    &__list-item {
        flex-basis: 100%;
    }

    &__item-title {
        color: var(--navyblue);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 8px;
    }

    &__item-text {
        line-height: 1.5;
    }
}

.team {
    background-color: var(--cloud);
    padding: 96px 0;

    &__list {
        max-width: 264px;
        display: flex;
        flex-direction: column;
        gap: 72px;
        margin: 0 auto;
    }

    &__list-item {
        flex-basis: 100%;
        border-radius: 0px 0px 4px 4px;
        background: var(--white, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    &__info {
        background-color: var(--white);
        padding: 32px 16px;
    }

    &__item-photo {
        height: 260px;
        object-fit: cover;
    }
}

.title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.info {
    margin-bottom: 8px;

    &__title {
        color: var(--navyblue);
        text-align: center;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    &__text {
        color: var(--slate);
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
    }
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: var(--iris);
        border-radius: 50%;
        transition: background-color var(--transition);

        &:is(:hover, :focus) {
            background-color: var(--ocean);
        }
    }

    &__icon {
        width: 16px;
        height: 16px;
        fill: var(--cloud);
    }
}

.customers {
    padding: 96px 0;

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        row-gap: 72px;
    }

    &__list-item {
        flex-basis: calc((100% - 16px) / 2);
    }

    &__item-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid var(--lightslate);
        fill: var(--lightslate);
        transition: border-color var(--transition), fill var(--transition);
        padding: 16px 0;

        &:is(:hover, :focus) {
            border-color: var(--ocean);
            fill: var(--ocean);
        }

    }

    &__item-icon {
        width: 110px;
        height: 56px;
    }
}

.portfolio {
    padding: 48px 0;

    &__filter {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 16px;
        width: 320px;
        margin-bottom: 48px;
    }

    &__filter-item {
    }

    &__filter-button {
        color: var(--iris);
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        border: 1px solid var(--cornflower);
        background-color: var(--cloud);
        padding: 8px 16px;

        &.current,
        &:is(:hover, :focus) {
            color: var(--white);
            background-color: var(--ocean);
        }

        &:is(:hover, :focus) {
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__list-item {
        flex-basis: 100%;
        border: 1px solid var(--cloud);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

        &:is(:hover, :focus) .portfolio__item-text {
            transform: translateY(0);
        }

        &:is(:hover, :focus) {
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        }
    }

    &__item-block {
        position: relative;
        overflow: hidden;
    }

    &__item-img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }

    &__item-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: var(--cloud);
        font-weight: 400;
        line-height: 1.5;
        background-color: var(--iris);
        transform: translateY(100%);
        transition: transform var(--transition);
        padding: 40px 32px;
    }

    & .info {

        padding: 32px 16px;
        margin-bottom: 0;

        &__title,
        &__text {
            text-align: left;
        }
    }
}

.footer {
    background-color: var(--navyblue);
    padding: 96px 0;

    &__block {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    & .logo {
        display: block;
        text-align: center;
        margin-bottom: 16px;

        &__color {
            color: var(--white);
        }
    }

    &__text {
        max-width: 268px;
        color: var(--cloud);
        font-weight: 400;
        line-height: 1.5;
        margin: 0 auto;
    }

    &__title {
        color: var(--white);
        line-height: 1.5;
        text-align: center;
        margin-bottom: 16px;
    }

    & .socials {
        &__link:is(:hover, :focus) {
            background-color: var(--green);
        }

        &__icon {
            width: 24px;
            height: 24px;
        }
    }

    &__subscribe {}

    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__form-input {
        height: 40px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid var(--white);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 0 16px;

        &::placeholder {
            color: var(--white);
            font-size: 12px;
            font-weight: 400;
            line-height: 2;
            letter-spacing: 0.04em;
        }
    }

    &__form-button {
        width: 165px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        color: var(--white);
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        background-color: var(--iris);
        margin: 0 auto;

        &:is(:hover, :focus) {
            background-color: var(--ocean);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }
    }

    &__button-icon {
        fill: var(--white);
    }
}

.modal {

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--navyblue-modal);
        transition: transform var(--transition);

        &.is-hidden {
            transform: scaleY(0);
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 392px;
        border-radius: 4px;
        background: var(--dairy);
        padding: 72px 16px 24px;
    }

    &__title {
        color: var(--navyblue);
        text-align: center;
        line-height: 1.5;
        margin-bottom: 16px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;
    }

    &__item-label {
        display: inline-block;
        color: var(--lightslate);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-bottom: 4px;
    }

    &__item-block {
        position: relative;
    }

    &__item-input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--navyblue-modal);
        outline: transparent;
        transition: border-color var(--transition);
        padding-left: 34px;

        &:focus {
            border-color: var(--iris);
        }

        &:focus+.modal__item-icon {
            fill: var(--iris);
        }
    }

    &__item-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        width: 18px;
        height: 24px;
        fill: var(--navyblue);
        transition: fill var(--transition);
    }

    &__item-textarea {
        width: 100%;
        height: 120px;
        border-radius: 4px;
        border: 1px solid var(--navyblue-modal);
        resize: none;
        outline: transparent;
        transition: border-color var(--transition);
        padding: 8px 16px;

        &::placeholder {
            color: var(--lightslate);
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
            opacity: 0.5;
        }

        &:focus {
            border-color: var(--iris);
        }
    }

    &__checkbox {
        margin-bottom: 24px;
    }

    &__checkbox-input:checked+.modal__checkbox-label .modal__checkbox-span {
        fill: var(--white);
        background-color: var(--ocean);
    }

    &__checkbox-label {
        display: flex;
        align-items: baseline;
        gap: 8px;
    }

    &__checkbox-span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border: 1px solid var(--navyblue-modal);
        border-radius: 2px;
        background-color: transparent;
        fill: transparent;
        transition: fill var(--transition), background-color var(--transition);
    }

    &__checkbox-icon {
        width: 10px;
        height: 8px;
    }

    &__checkbox-text {
        color: var(--lightslate);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    &__checkbox-link {
        color: var(--iris, #4D5AE5);
        text-decoration: underline;
    }

    &__button {
        display: block;
        min-width: 169px;
        height: 56px;
        color: var(--white, #FFF);
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        background-color: var(--iris);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
    }
}

.mobile {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transition: transform var(--transition);
    padding: 80px 35px 40px 40px;

    & .close {
        background-color: transparent;
    }

    & .socials {
        justify-content: flex-start;
        gap: 56px;

        &__icon {
            width: 24px;
            height: 24px;
        }
    }

    &.is-open {
        transform: translateX(0);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__link {
        color: var(--navyblue);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-transform: capitalize;

        &.current {
            color: var(--ocean);
        }
    }
}

.address {
    margin-bottom: 48px;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__list-link {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.4px;
    }

    &__phone {
        color: var(--iris);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    transition: fill var(--transition), background-color var(--transition);

    &:is(:hover, :focus) {
        fill: var(--white);
        background-color: var(--ocean);
    }

    &__icon {
        width: 8px;
        height: 8px;
    }
}